.metadata
*~
server/nbproject/private
server/uploads
Interpreter/.idea
Interpreter/out
Interpreter/gen
Interpreter/bin
Interpreter/local.properties

InterpreterGlass/bin
InterpreterGlass/gen
InterpreterGlass/.settings
